<div class="homepage col-7">
  <section class="main col-7">
    <div class="introduction col-6">
      <h1>I'm a Product Designer from Colombia, living and working in <span class="coordinates">NYC*</span></h1>
      <h3>Click <span><a href="#work">here</a></span> to check some of my projects</h3>
    </div>
  </section>
  <!-- <section class="contact-details-main clearfix col-7">
    <h1>Thank you for visiting!</h1>
    <h3>Shoot me an email if you're interested in working together</h3>
  </section> -->
</div>
