@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');

@font-face {
  font-family: 'LeagueSpartan';
  src: url('/assets/fonts/leaguespartan-bold.eot');
  src: url('/assets/fonts/leaguespartan-bold.woff') format('woff'),
       url('/assets/fonts/leaguespartan-bold.woff2') format('woff2'),
       url('/assets/fonts/leaguespartan-bold.ttf') format('truetype'),
       url('/assets/fonts/leaguespartan-bold.svg') format('svg');
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 1px;
  z-index: 999; }

#left {
  left: 0;
  position: fixed;
  padding: 2px;
  background-color: white;
  background-image: linear-gradient(to bottom, blue, #F6232C);
  background-image: -moz-linear-gradient(to bottom, blue, #F6232C);
  background-image: -webkit-linear-gradient(to bottom, blue, #F6232C);
  background-image: -o-linear-gradient(to bottom, blue, #F6232C); }

#right {
  right: 0;
  position: fixed;
  padding: 2px;
  background-color: white;
  background-image: linear-gradient(to top, blue, #F6232C);
  background-image: -moz-linear-gradient(to top, blue, #F6232C);
  background-image: -webkit-linear-gradient(to top, blue, #F6232C);
  background-image: -o-linear-gradient(to top, blue, #F6232C); }

#top,
#bottom {
  left: 0;
  right: 0;
  height: 1px;
  z-index: 999; }

#top {
  top: 0;
  position: fixed;
  padding: 2px;
  background-color: white;
  background-image: linear-gradient(to right, blue, #F6232C);
  background-image: -moz-linear-gradient(to right, blue, #F6232C);
  background-image: -webkit-linear-gradient(to right, blue, #F6232C);
  background-image: -o-linear-gradient(to right, blue, #F6232C); }

#bottom {
  bottom: 0;
  position: fixed;
  padding: 2px;
  background-color: white;
  background-image: linear-gradient(to left, blue, #F6232C);
  background-image: -moz-linear-gradient(to left, blue, #F6232C);
  background-image: -webkit-linear-gradient(to left, blue, #F6232C);
  background-image: -o-linear-gradient(to left, blue, #F6232C); }


/*BASE RULES*/
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cleafix:before,
.cleafix:after {
  visibility: hidden;
  display: table;
  content: "";
  clear: both;
  height: 0;
}

* html .clearfix {zoom: 1;}
*:first-child+html .group {zoom:1;}

/* BASE STYLES */

* { margin:0; padding:0; box-sizing:border-box; }

html, body {
  width: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: 'LeagueSpartan', Fallback, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  margin-top: 0;
  position: relative;
  color: black;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

ul, ol {
  list-style: none;
}

h1 {
  font-size: 4em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.2em;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .3em;
}

h3 {
  font-size: 2em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

a:hover {
  color: blue;
}

/* GRID STYLES */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.col-1 { width: 13.3333%; }
.col-2 { width: 26.6666%; }
.col-3 { width: 40%; }
.col-4 { width: 53.33332%; }
.col-5 { width: 66.6665%; }
.col-6 { width: 80%; }
.col-7 { width: 100%; }

.push-1 { margin-left: 13.3333%; }
.push-2 { margin-left: 26.6666%; }
.push-3 { margin-left: 40%; }
.push-4 { margin-left: 53.3332%; }
.push-5 { margin-left: 66.6665%; }
.push-6 { margin-left: 80%; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 13.333%
  padding: 1em;
}

/*HEADER & FOOTER*/
header {
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 10em;
  background-color: #fff;
  background: linear-gradient(to bottom, #fff, rgba(255,255,255,0));
  background: -webkit-linear-gradient(to bottom, #fff, rgba(255,255,255,.1));
  background: -moz-linear-gradient(to bottom, #fff, rgba(255,255,255,.1));
  background: -ms-linear-gradient(to bottom, #fff, rgba(255,255,255,.1));
  background: -o-linear-gradient(to bottom, #fff, rgba(255,255,255,.1));
}

.logo {
  padding-top: 3em;
  padding-left: 3%;
  position: fixed;
  animation: logofill 30s ease-in-out infinite;
}

#logo {
  width: 4em;
}

#main-nav nav {
  float: right;
  position: fixed;
  right: 5em;
  top: 5em;
  text-align: right;
}

#main-nav nav ul > li {
  padding-left: 2em;
  display: inline-block;
}

#main-nav nav ul li > a {
  font-size: 1.5em;
  text-transform: lowercase;
  letter-spacing: .2em;
  position: relative;
  padding-bottom: 0.3em;
}

#main-nav nav ul li > a:hover {
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

#main-nav nav ul li > a:before {
  content: "";
  position: absolute;
  width: 110%;
  left: -.3em;
  bottom: 21%;
  height: 1.2em;
  z-index: -1;
  visibility: hidden;
  background: linear-gradient(to right, #FE667B, rgba(230, 44, 144, 0.5));
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#main-nav nav ul li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.active {
  border-bottom: 1px solid black;
}


footer {
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 3em;
  bottom: 0;
  font-size: 2em;
  background-color: #fff;
  background: linear-gradient(to top, #fff, rgba(255,255,255,0));
  background: -webkit-linear-gradient(to top, #fff, rgba(255,255,255,.1));
  background: -moz-linear-gradient(to top, #fff, rgba(255,255,255,.1));
  background: -ms-linear-gradient(to top, #fff, rgba(255,255,255,.1));
  background: -o-linear-gradient(to top, #fff, rgba(255,255,255,.1));
}

.footer-contact {
  float: left;
  position: fixed;
  left: 3%;
  bottom: 5%;
}

.footer-contact h3{
  font-family: 'LeagueSpartan', sans-serif;
  font-size: .7em;
}

.footer-contact h3 span {
  font-family: 'Work Sans', sans-serif;
  text-decoration: underline;
}

.footer-icons{
  float: right;
  position: fixed;
  right: 3%;
  bottom: 5%;
}

.footer-icons > a i {
  padding-left: 2em;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

footer a i:hover {
  color: #F6232C;
}

/*///SECTION STYLING///*/
.homepage {
  height: 100vh;
  width: 100%;
  display: block;;
  clear: both;
}

/* MAIN SECTION */
section {
  width: 100%;
  height: 100vh;
  display: block;;
  clear: both;
  float: left;
  z-index: 998;
}

.introduction {
  padding-top: 25%;
  padding-left: 10vh;
  height: 100vh;
}

.introduction h3 {
  padding-top: 2em;
}

.introduction h3 span {
  padding-bottom: .2em;
  font-family: 'LeagueSpartan', sans-serif;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.introduction h3 span:hover {
  color: blue;
}

.coordinates {
  transition: color 0.5s;
  color: blue;
  opacity: 1;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: opacity .9s;
  -webkit-transition: opacity .9s;
  -moz-transition: opacity .9s;
  -o-transition: opacity .9s;
}

.coordinates:hover {
  color: black;
  cursor: pointer;
  transition: all .9s;
  -webkit-transition: all .9s;
  -moz-transition: all .9s;
  -o-transition: all .9s;
}

.coordinates:after {
  content: "";
  opacity: 0;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
}

.coordinates:hover:after {
  content: " ";
  display: inline-block;
  background-image: url("../imgs/pizza.svg");
  background-size: 0.7em 0.7em;
  background-repeat: no-repeat;
  height: 0.7em;
  width: 0.7em;
  opacity: 1;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
}

/*PROJECT SECTION*/
.projects {
  text-align: left;
  text-align: center;
}

.all-projects-view {
  height: 100%;
  padding-top: 10%;
}

.project-text {
  z-index: 990;
}

.title {
  position: relative;
  transition: .5s;
  z-index: 996;
  line-height: 1em;
  -webkit-transform: scale(1);;
  -ms-transform: scale(1);;
  transform: scale(1);;
}

.title:hover {
  color: blue;
  -webkit-transform: scale(1.02);;
  -ms-transform: scale(1.02);;
  transform: scale(1.02);;
}

.title a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 10%;
  z-index: -1;
  background: linear-gradient(to right, #F6232C, blue);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in 0.1s;
  -o-transition: all 0.2s ease-in 0.1s;
  transition: all 0.2s ease-in 0.1s;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.title a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.tooltip {
  position: relative;
  display: inline-block;
  height: 100%;
}

.tooltip-text {
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  top: -1em;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  opacity: 0;
}

.tooltip:hover + .tooltip-text {
  visibility: visible;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  opacity: 1;
}

figure {
  height: 100%;
  position: absolute;
  z-index: 990;
}

figure img {
  height: 100%;
  position: relative;
}

/*CONTACT-DETAILS MAIN*/
.contact-details-main {
  padding-top: 40vh;
  height: 100vh;
  text-align: right;
}

/* ANIMATION STYLES */
fade-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.fade-in.ng-enter {
  opacity: 0;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.fade-in.ng-leave {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fade-in.ng-enter-active {
  opacity: 1; }

.fade-in.ng-leave-active {
  opacity: 0; }


/*MEDIA QUERIES*/
/* Custom, iPhone Retina */
  @media screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {

      section h1 {
        font-size: 25px;
      }

      .projects h1 {
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1.2em;
      }

      .contact-details-main h1 {
        text-align: center;
        font-size: 20px;
        padding-top: 10vh;
      }

      .title:hover {
        color: blue;
        -webkit-transform: scale(1.02);;
        -ms-transform: scale(1.02);;
        transform: scale(1.02);;
      }

      .title a:before {
        display: none !important;
      }

      .title a:hover:before {
        visibility: hidden;
      }

      .tooltip {
        position: relative;
        display: inline-block;
        height: 100%;
      }

      .tooltip-text {
        display: none;
      }

      section h3 {
        display: none;
      }

      body {
        font-size: 30%;
      }

      .wrapper {
        width: 100%;
        margin: 0 auto;
      }

      .introduction {
        padding-top: 35vh;
      }

      section {
        width: 100%;
        height: 100vh;
      }

      #logo {
        display: none;
      }

      header {
        bottom: 0;
        position: fixed;
        height: 10%;
        width: 100%;
      }

      #main-nav nav {
        padding-left: 2em;
        bottom: 0;
        left: 0;
        display: inline-block;
        height: 10%;
      }

      #main-nav nav ul > li {
        padding-left: 2em;
        display: inline-block;
      }

      #main-nav nav ul li > a {
        font-size: 1.5em;
        text-transform: lowercase;
        letter-spacing: .2em;
        position: relative;
        padding-bottom: 0.3em;
      }

      .col-1 { width: 13.3333%; }
      .col-2 { width: 26.6666%; }
      .col-3 { width: 40%; }
      .col-4 { width: 53.33332%; }
      .col-5 { width: 66.6665%; }
      .col-6 { width: 80%; }
      .col-7 { width: 100%; }
    }
  }

    /* Extra Small Devices, Phones */
    @media screen
      and (min-device-width: 320px)
      and (max-device-width: 480px)
      and (-webkit-min-device-pixel-ratio: 2) {

        section h1 {
          font-size: 25px;
        }

        .projects h1 {
          font-size: 20px;
          padding-left: 15px;
          padding-right: 15px;
          line-height: 1.2em;
        }

        .title:hover {
          color: blue;
          -webkit-transform: scale(1.02);;
          -ms-transform: scale(1.02);;
          transform: scale(1.02);;
        }

        .title a:before {
          display: none !important;
        }

        .title a:hover:before {
          visibility: hidden;
        }

        .tooltip {
          position: relative;
          display: inline-block;
          height: 100%;
        }

        .tooltip-text {
          display: none;
        }

        section h3 {
          display: none;
        }

        body {
          font-size: 30%;
        }

        .wrapper {
          width: 100%;
          margin: 0 auto;
        }

        .introduction {
          padding-top: 35vh;
        }

        section {
          width: 100%;
          height: 100vh;
        }

        #logo {
          display: none;
        }

        header {
          bottom: 0;
          position: fixed;
          height: 10%;
          width: 100%;
          background-color: red;
        }

        #main-nav nav {
          padding-left: 2em;
          bottom: 0;
          left: 0;
          display: inline-block;
          height: 10%;
        }

        #main-nav nav ul > li {
          padding-left: 2em;
          display: inline-block;
        }

        #main-nav nav ul li > a {
          font-size: 1.5em;
          text-transform: lowercase;
          letter-spacing: .2em;
          position: relative;
          padding-bottom: 0.3em;
        }

        .col-1 { width: 13.3333%; }
        .col-2 { width: 26.6666%; }
        .col-3 { width: 40%; }
        .col-4 { width: 53.33332%; }
        .col-5 { width: 66.6665%; }
        .col-6 { width: 80%; }
        .col-7 { width: 100%; }
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 769px) {
      h1 {
        font-size: 200em;
      }

      #logo {
        padding-left: 200px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      h1 {
        font-size: 4em;
      }
    }

    /*KEYFRAMES*/
    @-webkit-keyframes logofill {
      0% {
        opacity: 1;
        fill: linear-gradient(blue, #F6232C); }
      50%, 60% {
        opacity: 0;
        fill: #F6232C; }
      100% {
        opacity: 1;
        fill: blue; } }
    @-o-keyframes logofill {
      0% {
        opacity: 1;
        fill: linear-gradient(blue, #F6232C); }
      50%, 60% {
        opacity: 0;
        fill: #F6232C; }
      100% {
        opacity: 1;
        fill: blue; } }
    @-moz-keyframes logofill {
      0% {
        opacity: 1;
        fill: linear-gradient(blue, #F6232C); }
      50%, 60% {
        opacity: 0;
        fill: #F6232C; }
      100% {
        opacity: 1;
        fill: blue; } }
    @keyframes logofill {
      0% {
        opacity: 1;
        fill: linear-gradient(blue, #F6232C); }
      50%, 60% {
        opacity: 0;
        fill: #F6232C; }
      100% {
        opacity: 1;
        fill: blue; } }
